@inherits LayoutComponentBase

<div class="relative flex min-h-screen flex-col bg-[#18141f] overflow-x-hidden"
     style='font-family: "Spline Sans","Noto Sans",sans-serif;'>
    <header>
        <NavMenu />
    </header>

    <main class="px-40 flex flex-1 justify-center py-5">
        <div class="layout-content-container flex flex-col max-w-[960px] w-full">
            @Body
        </div>
    </main>
    
    <WWoW.InformationSite.WebBlazor.Components.Shared.Footer />
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
