@page "/"
@using WWoW.InformationSite.WebBlazor.Components.Shared;
<PageTitle>Home - WWoW</PageTitle>

<TwitchEmbed Channel="retros3xual" />

<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
    Live Raid Status
</h2>
