@page "/"
@using WWoW.InformationSite.WebBlazor.Components.Shared;
<PageTitle>Home - WWoW</PageTitle>

<HeroBanner BackgroundImageUrl="https://lh3.googleusercontent.com/aida-public/AB6AXuCGZuvT32zy4QomNK4BBTsxdWHZN752fZkkjtFqKv_89PoT-V5QRZ3Ot0flxeUcS-VOGMU-vcAGFQykBcyqBl8H7pUkhs10mY32fVgE1BpGMKFt_it9Odcwx7aXasx0t5oUOYCtMJHifpAwOOglcxNPTlVetRX55tjMu5bEP9R-dFtAEg6a5FnC8UePsXbTuADpr5ZlH4GfC88sbrHtFeQIY3Hikwjuqa9z7VkOEzx3fPeMgP1VNTCH0LgsZH5nZONWFlrhEqp8j68" />

<h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">
    Live Raid Status
</h2>

<div class="flex flex-wrap gap-4 p-4">
    <StatCard Label="Boss" Value="The Lich King" />
    <StatCard Label="Bots Online" Value="120" />
    <StatCard Label="Next Phase" Value="00:05:30" />
</div>

<div class="flex justify-center">
    <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 max-w-[480px] justify-center">
        <button class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#332b40] text-white text-sm font-bold tracking-[0.015em] grow">
            <span class="truncate">About</span>
        </button>
        <button class="flex min-w-[84px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-10 px-4 bg-[#332b40] text-white text-sm font-bold tracking-[0.015em] grow">
            <span class="truncate">Live</span>
        </button>
    </div>
</div>
